<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action = "@{(${act})}" method = "post">
		<table>
			<tr>
				<td>CUSTOMER EMAIL</td>
				<td><input type = "email" name ="customer_Id"  th:value = "${customer.customer_Id}"></td>
			</tr>
			<tr>
				<td>CUSTOMER NAME</td>
				<td><input type = "text" name ="customer_Name" th:value = "${customer.customer_Name}"></td>
			</tr>
			<tr>
				<td>CUSTOMER ADDRESS</td>
				<td><input type = "text" name ="customer_Address" th:value = "${customer.customer_Address}"></td>
			</tr>
			<tr>
				<td>CUSTOMER PHONE NUMBER</td>
				<td><input type = "text" name ="customer_Phn" th:value = "${customer.customer_Phn}"></td>
			</tr>
			<tr>
				<td>CUSTOMER PASSWORD</td>
				<td><input type = "text" name ="customer_Password" th:value = "${customer.customer_Password}"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>