<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ALL CUSTOMERS</title>
</head>
<body>
		<table border = "1px solid black">
			<tr th:each = "customer : ${customers}">
				<td th:text = "${customer.customer_Id}"></td>
				<td th:text = "${customer.customer_Name}"></td>
				<td th:text = "${customer.customer_Phn}"></td>
				<td th:text = "${customer.customer_Address}"></td>
				<td th:text = "${customer.customer_Password}"></td>
				<td><a th:href ="@{editcustomer1(id=${customer.customer_Id})}">EDIT</a></td>
				<td><a th:href = "@{deletecustomer(id=${customer.customer_Id})}">DELETE</a></td>
			</tr>
		</table>
</body>
</html>