<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ALL CUSTOMERS</title>
</head>
<body>
	<form action = "customerlogin" method ="post">
		<table>
		<tr>
			<td>CUSTOMERS EMAIL ID</td>
			<td><input type="email" name="emailid"></td>
		</tr>
		<tr>
			<td>CUSTOMERS PASSWORD</td>
			<td><input type="password" name="upswd"></td>
		</tr>
		<tr>
			<td><input type="submit" value = "LOG IN"></td>
		</tr>
		</table>
	</form>
</body>
</html>