<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ALL CUSTOMERS</title>
</head>
<body>
	<form action = "createemployee" method ="post">
		<table>
			<tr>
				<td>EMPLOYEE EMAIL</td>
				<td><input type = "email" name = "employee_Id"></td>
			</tr>
			<tr>
				<td>EMPLOYEE NAME</td>
				<td><input type = "text" name = "employee_Name"></td>
			</tr>
			<tr>
				<td>EMPLOYEE PHONE NUMBER</td>
				<td><input type = "text" name = "employee_Phn"></td>
			</tr>
			<tr>
				<td>EMPLOYEE ADDRESS</td>
				<td><input type = "text" name = "employee_Address"></td>
			</tr>
			<tr>
				<td>EMPLOYEE PASSWORD</td>
				<td><input type = "text" name = "employee_Password"></td>
			</tr>
			<tr>
				<td><input type = "submit" value = "Submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>