<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ALL CUSTOMERS</title>
</head>
<body>
		<table border="1px solid black">
			<tr th:each = "employee : ${employees}">
				<td th:text = "${employee.employee_Id}"></td>
				<td th:text = "${employee.employee_Name}"></td>
				<td th:text = "${employee.employee_Phn}"></td>
				<td th:text = "${employee.employee_Location}"></td>
				<td th:text = "${employee.stars}"></td>
				<td th:text = "${employee.active}"></td>
				<td th:text = "${employee.employee_Password}"></td>
				<td><a th:href ="@{editemployee1(id=${employee.employee_Id})}">EDIT</a></td>
				<td><a th:href = "@{deleteemployee(id=${employee.employee_Id})}">DELETE</a></td>
			</tr>
		</table>
</body>
</html>