<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a href = "CustomerLogin.html">CUSTOMER LOGIN</a><br>
<a href = "customerlogout">CUSTOMER LOGOUT</a><br>
<br>
<a href = "EmployeeLogin.html">EMPLOYEE LOGIN</a><br>
<a href = "employeelogout">EMPLOYEE LOGOUT</a><br>
<br>
<a href = "RestaurantLogin.html">RESTAURANT LOGIN</a><br>
<a href = "restaurantlogout">RESTAURANT LOGOUT</a><br>
<br>
<a href = "cookiedet">cookies</a><br>
<br>
<a href = "EmployeeReg.html">EMPLOYEE REGISTRATION</a><br>
<a href = "CustomerReg.html">CUSTOMER REGISTRAION</a><br>
<a href = "RestaurantReg.html">RESTAURANT REGISTRATION</a><br>
<a href ="ProductAdd.html">PRODUCT ADD</a><br>
<br>
<a href = "getcustomers">SHOW CUSTOMERS</a><br>
<a href = "getemployees">SHOW EMPLOYEES</a><br>
<a href = "getrestaurants">SHOW RESTAURANTS</a><br>
<a href = "getproducts">SHOW PRODUCTS</a><br>
</body>
</html>