<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a href = "allrestaurant" th:if="${cust}">ALL RESTAURANTS FOR ORDER</a>
<br>
<br>
<a href = "CustomerLogin.html" th:if="${!cust}">CUSTOMER LOGIN</a><br>
<a href = "customerlogout" th:if="${cust}">CUSTOMER LOGOUT</a><br>
<br>
<a href = "EmployeeLogin.html" th:if="${!emp}">EMPLOYEE LOGIN</a><br>
<a href = "employeelogout" th:if="${emp}">EMPLOYEE LOGOUT</a><br>
<br>
<a href = "RestaurantLogin.html" th:if="${!rest}">RESTAURANT LOGIN</a><br>
<a href = "restaurantlogout" th:if="${rest}">RESTAURANT LOGOUT</a><br>
<br>
<a href = "cookiedet">cookies</a><br>
<br>
<a href = "EmployeeReg.html" th:if="${!emp}">EMPLOYEE REGISTRATION</a><br>
<a href = "CustomerReg.html" th:if="${!cust}">CUSTOMER REGISTRAION</a><br>
<a href = "RestaurantReg.html" th:if="${!rest}">RESTAURANT REGISTRATION</a><br>
<a href ="ProductAdd.html" th:if="${rest}">PRODUCT ADD</a><br>
<br>
<a href="Admin.html" th:if="${!admin}">ADMIN LOGIN</a><br>
<a href="adminlogout" th:if="${admin}">ADMIN LOGOUT</a>
<br>
<a href = "getcustomers" th:if="${admin}">SHOW CUSTOMERS</a><br>
<a href = "getemployees" th:if="${admin}">SHOW EMPLOYEES</a><br>
<a href = "getrestaurants" th:if="${admin}">SHOW RESTAURANTS</a><br>
<a href = "getproducts" th:if="${rest}">SHOW PRODUCTS</a><br>
</body>
</html>